.controlPanel {
  background-color: white;
  border-radius: 3px;
  padding: 2px 6px;
  border: 1px solid rgb(229, 229, 229);
  display: flex;
  gap: 10px;
}

.icon {
  font-size: 15px;
  color: var(--primary-color);
}
